<h2 data-line="0" id="😲 md-editor-rt">😲 md-editor-rt</h2>
<p data-line="2">
  Markdown Editor for React, developed in jsx and typescript, support different
  themes、beautify content by prettier.
</p>
<h3 data-line="4" id="🤖 Base">🤖 Base</h3>
<p data-line="6">
  <strong>bold</strong>, <u>underline</u>, <em>italic</em>, <s>line-through</s>,
  superscript&lt;supsubscript&gt;26&lt;/supsubscript
  subscript<sub>[1]</sub>inline code，<a href="https://github.com/imzbf"
    >link</a
  >
</p>
<blockquote data-line="8">
  <p>quote: I Have a Dream</p>
</blockquote>
<ol data-line="10">
  <li>
    So even though we face the difficulties of today and tomorrow, I still have
    a dream.
  </li>
  <li>It is a dream deeply rooted in the American dream.</li>
  <li>I have a dream that one day this nation will rise up.</li>
</ol>
<ul class="contains-task-list" data-line="14">
  <li class="task-list-item">
    <input class="task-list-item-checkbox" disabled type="checkbox" /> Friday
  </li>
  <li class="task-list-item">
    <input class="task-list-item-checkbox" disabled type="checkbox" /> Saturday
  </li>
  <li class="task-list-item">
    <input class="task-list-item-checkbox" checked disabled type="checkbox" />
    Sunday
  </li>
</ul>
<figure>
  <img
    src="https://imzbf.github.io/md-editor-rt/imgs/mark_emoji.gif"
    alt="Picture"
    class="md-zoom"
  />
</figure>
<h2 data-line="20" id="🤗 Demo">🤗 Demo</h2>
<h2 data-line="24" id="🖨 Text">🖨 Text</h2>
<p data-line="26">
  The Old Man and the Sea served to reinvigorate Hemingway's literary reputation
  and prompted a reexamination of his entire body of work.
</p>
<h2 data-line="28" id="📈 Table">📈 Table</h2>
<table data-line="30">
  <thead>
    <tr>
      <th>nickname</th>
      <th>from</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>zhijian</td>
      <td>ChongQing, China</td>
    </tr>
  </tbody>
</table>
<h2 data-line="34" id="📏 Formula">📏 Formula</h2>
<p data-line="36">
  Inline:
  <span class="md-editor-katex-inline" data-processed
    ><span class="katex"
      ><span class="katex-mathml"
        ><math xmlns="http://www.w3.org/1998/Math/MathML"
          ><semantics
            ><mrow
              ><mi>x</mi><mo>+</mo
              ><msup
                ><mi>y</mi><mrow><mn>2</mn><mi>x</mi></mrow></msup
              ></mrow
            ><annotation encoding="application/x-tex"
              >x+y^{2x}</annotation
            ></semantics
          ></math
        ></span
      ><span class="katex-html" aria-hidden="true"
        ><span class="base"
          ><span
            class="strut"
            style="height: 0.6667em; vertical-align: -0.0833em"
          ></span
          ><span class="mord mathnormal">x</span
          ><span class="mspace" style="margin-right: 0.2222em"></span
          ><span class="mbin">+</span
          ><span class="mspace" style="margin-right: 0.2222em"></span></span
        ><span class="base"
          ><span
            class="strut"
            style="height: 1.0085em; vertical-align: -0.1944em"
          ></span
          ><span class="mord"
            ><span class="mord mathnormal" style="margin-right: 0.03588em"
              >y</span
            ><span class="msupsub"
              ><span class="vlist-t"
                ><span class="vlist-r"
                  ><span class="vlist" style="height: 0.8141em"
                    ><span style="top: -3.063em; margin-right: 0.05em"
                      ><span class="pstrut" style="height: 2.7em"></span
                      ><span class="sizing reset-size6 size3 mtight"
                        ><span class="mord mtight"
                          ><span class="mord mtight">2</span
                          ><span class="mord mathnormal mtight">x</span></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        ></span
      ></span
    ></span
  >
</p>
<p class="md-editor-katex-block" data-line="38" data-processed>
  <span class="katex-display"
    ><span class="katex"
      ><span class="katex-mathml"
        ><math xmlns="http://www.w3.org/1998/Math/MathML" display="block"
          ><semantics
            ><mrow
              ><mi>s</mi><mi>q</mi><mi>r</mi><mi>t</mi
              ><mo stretchy="false">[</mo><mn>3</mn><mo stretchy="false">]</mo
              ><mi>x</mi></mrow
            ><annotation encoding="application/x-tex"
              >sqrt[3]{x}
            </annotation></semantics
          ></math
        ></span
      ><span class="katex-html" aria-hidden="true"
        ><span class="base"
          ><span
            class="strut"
            style="height: 1em; vertical-align: -0.25em"
          ></span
          ><span class="mord mathnormal">s</span
          ><span class="mord mathnormal" style="margin-right: 0.03588em">q</span
          ><span class="mord mathnormal" style="margin-right: 0.02778em">r</span
          ><span class="mord mathnormal">t</span><span class="mopen">[</span
          ><span class="mord">3</span><span class="mclose">]</span
          ><span class="mord"
            ><span class="mord mathnormal">x</span></span
          ></span
        ></span
      ></span
    ></span
  >
</p>
<h2 data-line="42" id="🧬 Diagram">🧬 Diagram</h2>
<h2 data-line="45" id="🪄 Alert">🪄 Alert</h2>
<div class="md-editor-admonition md-editor-admonition-note" data-line="47">
  <p class="md-editor-admonition-title">Supported Types</p>
  <p>
    note、abstract、info、tip、success、question、warning、failure、danger、bug、example、quote、hint、caution、error、attention
  </p>
</div>
<h2 data-line="53" id="☘️ em...">☘️ em...</h2>
